table {
  border-collapse: collapse;
  margin-top: 10px;
}

tr:nth-child(1) td {
  text-transform: capitalize;
  font-weight: bold;
}

td {
  border: 1px solid #ccc;
  padding: 4px;
}

a {
  text-decoration: none;
}