label {
  display: block;
  background-color: rgb(176, 204, 165);
  border: 1px solid rgb(133, 184, 123);
  text-align: center;
}

label input {
  visibility: hidden;
  width: 0;
}

label span {
  text-decoration: underline;
}

label span:hover {
  color: blue;
}

.dragover {
  background-color: aquamarine;
}

output {
  display: block;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #eee;
}

table, th, td {
  border: 2px solid #eee;
}

th {
  text-transform: capitalize;
  padding: 4px;
}