#upload-container {
  padding: 2rem;
  border: 2px dashed var(--form-element-border-color);
  border-radius: var(--border-radius);
  text-align: center;
  background-color: var(--form-element-background-color);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

#upload-container:hover {
  background-color: var(--form-element-focus-background-color);
}

#upload-container.dragover {
  background-color: var(--form-element-valid-border-color);
  border-color: var(--form-element-valid-border-color);
}

#upload-container input {
  display: none;
}

#upload-hint {
  margin: 0;
  color: var(--muted-color);
}

output {
  display: block;
  margin-top: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

tbody tr:nth-child(even) {
  background-color: var(--table-border-color);
}

thead {
  border-bottom: 2px solid var(--table-border-color);
}

th,
td {
  padding: 0.75rem;
  text-align: left;
}

th {
  text-transform: capitalize;
  font-weight: 600;
  background-color: var(--form-element-background-color);
}

td {
  border-bottom: 1px solid var(--table-border-color);
}

[for='upload'] {
  cursor: pointer;
}

#output {
  display: none;
  margin-top: 2rem;
}

#output.visible {
  display: block;
}
